* {
	margin: 0;
	padding: 0;
	font-family: "Arial", Times, Sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 50px 40px;
    text-decoration: none;
    transition: background 0.5s ease-in-out;
    transition:.5s;
}

li a:hover {
        color: #6F86D8;
}

.logo{
	padding-left: 15px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.small_css_color_section{
	padding-top:5px;
	width:100%;
	background-color: #6F86D8;
}
.footer{
	width:100%;
	text-align: right;
	background-color: #333;
	padding-top:10px;
	padding-bottom: 10px;
	margin-top:-5px;
	color:white;

}

.links_area{
	height: 500px;
	width: 100%;
	background-color:#F5F5F5;
	padding-top:50px;
	padding-left:50px;
	padding-right:50px;
	padding-bottom:50px;
}

.article{
	height: 400px;
	width: 75%;
	background-color: #FAFAFA;
    box-shadow: 10px 10px 5px #888888;
    margin-top:-5px;
    float:left;
    margin-right:50px;
}

.link_hub{
	min-height: 200px;
	width: 15%;
	background-color: #FAFAFA;
    box-shadow: 10px 10px 5px #888888;
    margin-top:-5px;
    float:left;
    margin-right:50px;
    margin-bottom:8px;
}